.body {
  margin: 0px;
}

.header {
  background-color: #16a085;
  padding-bottom: 30px;
  width: 100vw;
}
.title {
  color: #f1c40f;
  text-align: center;
}

.bigcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.containerSeries {
  order: 1;
}
.listContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr; para tablet y ordenador */
}
.list-element {
  width: 200px;
  height: 280px;
  background-color: aqua;

  margin-bottom: 10px;
  list-style: none;
}
.list-element2 {
  background-color: aquamarine;
  color: aliceblue;
  list-style: none;
  width: 200px;
  height: 280px;
  margin-bottom: 10px;
}
.containerFavorites {
  border-bottom: black 2px solid;
}
.favoritesContent {
  padding-left: 20px;
  padding-right: 20px;
}
.list-favorites {
  /* width: 200px;
  height: 290px; */
  background-color: white;
  list-style: none;
}
.buttonXstyle {
  border-radius: 25px;
  background-color: rgb(228, 78, 78);
}

.img {
  width: 180px;
  height: 230px;
  padding: 10px;
}
